version: '3.9'

services:
  db:
    image: postgres:14
    container_name: postgresdb
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: admin
      POSTGRES_DB: postgres
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  mytestapp:
    build: .
    container_name: mytestapp
    depends_on:
      - db
    ports:
      - "9091:9091"
    environment:
      - DB_HOST=db
      - DB_USER=postgres
      - DB_PASSWORD=
      - DB_NAME=postgres
    restart: always

volumes:
  pgdata: